@charset "utf-8";
/* CSS Document */
*{outline:0}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td, img, span { padding: 0; margin: 0; }
body { font-size: 12px; min-width: 1180px;font-family:Microsoft yahei; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, th, var, i { font-weight: normal; font-style: normal; }
ol, ul, li { list-style: none; }
div, dl, dt, dd, ol, ul, li { zoom: 1; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; }
input,textarea {resize:none;outline: 0; }
table {border-collapse: collapse}
div {padding:0;}
img { border: 0; vertical-align: middle; }
a { text-decoration: none;color:#666666; }
a:hover{text-decoration:none;}
.fl { float: left; }
.fr { float: right; }
.clearfix { clear: both; height: 0; }
.wrap { width: 1180px; margin: 0 auto;border:0; }
.hide {display:none;}
.overflow {overflow:hidden;}
.show {display:block!important;}

/*居中*/
.text-center{text-align:center!important;}
.v-middle {vertical-align:middle!important;}

/*position*/
.posi-1 {
	position:absolute;
	top:0px;
	left:0px;}
	
.posi-2 {
	position:absolute;
	top:196px;
	left:164px;}	
	
.posi-3 {
	position:absolute;
	top:0px;
	left:444px;}
	
.posi-4 {
	position:absolute;
	top:196px;
	left:608px;}
	
.posi-5 {
	position:absolute;
	top:0px;
	left:752px;}
.posi-6 {
	position:absolute;
	top:196px;
	left:916px;}	
	
	


			  