<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js" lang="">

<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="/index/css/bootstrap.min.css">
    <link rel="stylesheet" href="/index/css/flexslider.css">
    <link rel="stylesheet" href="/index/css/jquery.fancybox.css">
    <link rel="stylesheet" href="/index/css/main.css">
    <link rel="stylesheet" href="/index/css/responsive.css">
    <link rel="stylesheet" href="/index/css/font-icon.css">
    <link rel="stylesheet" href="/index/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/index/css/style4.css" />
    <link rel="stylesheet" href="/index/css/nav.css">
    <link rel="stylesheet" href="/index/css/bootstrap-theme.css">
</head>

<body>
<!-- header section -->

<!-- Fixed navbar -->
<div class="navbar navbar-inverse" style="background-color: #fff">
    <div class="navbar-header">
        <!-- Button for smallest screens -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand" href="/">
            <img src="/index/images/logo.png" alt="template"></a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right mainNav ">
            <li class="c1 "><a href="/">首页</a></li>
            <li class="c2 "><a href="/users/Dynamic">动态</a></li>
            <li class="c3 "><a href="/users/appIntroduce">app介绍</a></li>
            <li class="c4 "><a href="/users/Cooperation">加盟合作</a></li>
            <li class="c5 "><a href="/users/ServiceHelp">服务帮助</a></li>
            <li class="c6 " id="Info"></li>
        </ul>
    </div>
    <!--/.nav-collapse -->
</div>
<!-- /.navbar -->

<section class="banner" role="banner">

    <!-- banner text -->
    <div class="banner" id="banner">
        <ul class="cb-slideshow">
            <li><span>Image 01</span><div><h3></h3></div></li>
            <li><span>Image 02</span><div><h3></h3></div></li>
            <li><span>Image 03</span><div><h3></h3></div></li>
            <li><span>Image 04</span><div><h3></h3></div></li>
            <li><span>Image 05</span><div><h3></h3></div></li>
            <li><span>Image 06</span><div><h3></h3></div></li>
        </ul>
        <!-- banner text -->
    </div>
</section>
<!-- header section -->
<!-- 简介 section -->
<section id="intro" class="section intro">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h3>智慧幼儿园 · 改变未来</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“宝贝家园”家园共育领导品牌，以全国最先进的科学技术研发水平，打造了一款最受家长欢迎的幼儿园APP，以及一系列的智能硬件设备与产品，颠覆传统幼教行业单一模式，引领家园共育新时代，开创了国内智慧幼儿园典范，让一切皆有可能...</p>
        </div>
    </div>
</section>
<!-- intro section -->
<!-- 我们的服务 section -->
<section id="services" class="services service-section">
    <div class="container">
        <div class="section-header">
            <h3 class="wow fadeInDown animated">智能硬件介绍</h3>
            <p class="wow fadeInDown animated"> 拉近老师、园长和家长距离</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-strategy"></span>
                <div class="services-content">
                    <h5>智能立式考勤机</h5>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;考勤机集智能拍照签到、考勤统计、语音播报等一体化功能，智能推送出入园信息，是行内最安全好用的打卡机，也是目前最能满足幼儿园需求的考勤系统。
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-briefcase"></span>
                <div class="services-content">
                    <h5>分班播报机</h5>
                    <p>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分班播报主要是为了放学时便于老师做好接送准备，维持放学高峰期的出入园秩序，保证幼儿接送的安全有序，掌心宝贝分班播报是由班级播报机+考勤机结合在一起的方案。
                    </p>
                     </div>
            </div>
            <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-tools"></span>
                <div class="services-content">
                    <h5>智能道闸</h5>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业内首创双道闸，为出入人员提供文明、有序的通行方式。双道闸与考勤机智能连接，过闸刷卡，加强对出入人员的身份识别，保障幼儿的安全出行。
                    </p>
                     </div>
            </div>
            <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-genius"></span>
                <div class="services-content">
                    <h5>体温测量器</h5>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通过宝贝家园红外测温枪，老师可以查看本班所有学生每天的体温记录，出现情况可马上联系家长，家长手机接收孩子每日体温，异常情况提早知道。
                    </p>
                     </div>
            </div>
            <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-megaphone"></span>
                <div class="services-content">
                    <h5>车载考勤机</h5>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;车载考勤机是掌心宝贝考勤系列产品之一，学生在校车上刷卡考勤，家长老师及时收到考勤信息。可智能统计车内人数，保证不错接，不漏接，不遗漏，确保学生安全。</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-trophy"></span>
                <div class="services-content">
                    <h5>视频监控系统</h5>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宝贝家园摄像头将传统的安防与移动互联网完美结合，进行多级、多点、多人、多区域远程视频监控管理和应用，具备低码流的视频无损压缩技术和平台运营技术。
                    </p>
                   </div>
            </div>
        </div>
    </div>
</section>
<!-- services section -->
<!--About-->
<section id="content-3-10" class="content-block data-section nopad content-3-10">
    <div class="image-container col-sm-6 col-xs-12 pull-left">
        <div class="background-image-holder">

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6 col-xs-12 content">
                <div class="editContent">
                    <h3>宝贝家园简介</h3>
                </div>
                <div class="editContent">
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宝贝家园是以幼儿园智能硬件为关键入口的新一代移动互联网家园共育平台。
                        透过无微不至的幼儿园贴身服务与独特的渠道合伙人商业模式，宝贝家园目前已有数千家线下合伙人，
                        并在近万家幼儿园安装使用我们的平台。
                    </p>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宝贝家园作为幼儿园行业平台类APP第一品牌，提供成熟的智慧幼儿园解决方案，以特有的智能硬件解决
                         以往家园共育平台高度依赖老师产生内容的模式，满足家长关爱儿童安全的刚需，帮助幼儿园老师和家长建立起沟通互动的桥梁</p>
                </div>
            </div>
        </div><!-- /.row-->
    </div><!-- /.container -->
</section>


<!-- package section -->
<section class="video-section">
    <div class="container">
        <div class="row">
            <div id="content24" data-section="content-24" class="data-section">
                <div class="col-md-6">
                    <h3 class="eidtContent">发展历程</h3>
                    <p class="eidtContent">2016-09-03 团队组建成功</p>
                    <p class="editContent">2016-09-05 项目需求审核通过</p>
                    <p class="editContent">2016-09-15 PC端正式开始进行开发</p>
                </div>
            </div>
        </div><!-- end row -->
    </div>
</section>
<!-- package section -->

<!-- 点击查看大图 section -->
<section id="gallery" class="gallery section">
    <div class="container-fluid">
        <div class="section-header">
            <h2 class="wow fadeInDown animated">合作伙伴</h2>
            <p class="wow fadeInDown animated">通过与移动互联网、云技术等高新技术完美结合，升级幼儿园、中小学的 教育模式、搭建一个家庭与校方互动、互助的共同教育平台。</p>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/index/images/index-1.jpg" class="work-box"> <img src="/index/images/index-1.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <p><span class="icon icon-magnifying-glass"></span></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a> </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/index/images/index-2.jpg" class="work-box"> <img src="/index/images/index-2.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <p><span class="icon icon-magnifying-glass"></span></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a> </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/index/images/index-3.jpg" class="work-box"> <img src="/index/images/index-3.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <p><span class="icon icon-magnifying-glass"></span></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a> </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/index/images/index-4.jpg" class="work-box"> <img src="/index/images/index-4.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <p><span class="icon icon-magnifying-glass"></span></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a> </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/index/images/index1-3.jpg" class="work-box"> <img src="/index/images/index1-3.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <p><span class="icon icon-magnifying-glass"></span></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a> </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/index/images/index1-4.jpg" class="work-box"> <img src="/index/images/index1-4.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <p><span class="icon icon-magnifying-glass"></span></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a> </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/index/images/index1-7.jpg" class="work-box"> <img src="/index/images/index1-7.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <p><span class="icon icon-magnifying-glass"></span></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a> </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/index/images/index1-9.jpg" class="work-box"> <img src="/index/images/index1-9.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <p><span class="icon icon-magnifying-glass"></span></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a> </div>
        </div>
    </div>
</section>
<!-- gallery section -->
<!-- 我们的团队 section -->
<section id="teams" class="section teams">
    <div class="container">
        <div class="section-header">
            <h2 class="wow fadeInDown animated">我们团队</h2>
            <p class="wow fadeInDown animated">OUR TEAM</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="person"><img src="/index/images/team-2.jpg" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>许学超</h4>
                        <h5 class="role">项目经理</h5>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person"> <img src="/index/images/team-1.jpg" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>赵璐露</h4>
                        <h5 class="role">项目策划</h5>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person"> <img src="/index/images/team-4.jpg" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>王占鹏</h4>
                        <h5 class="role">核心成员</h5>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person"> <img src="/index/images/team-3.jpg" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>由园青</h4>
                        <h5 class="role">核心成员</h5>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our team section -->
<hr>
<footer style="margin: 20px 0 ">
    <p style="text-align: center;color: #000;font-size: 12px">Copyright © 2016 宝贝家园项目小组 粤ICP备xxxxxxxx号</p>
</footer>

<!-- JS FILES -->
<script src="/index/js/jquery.min.js"></script>
<script src="/index/js/bootstrap.min.js"></script>
<script src="/index/js/jquery.flexslider-min.js"></script>
<script src="/index/js/jquery.fancybox.pack.js"></script>
<script src="/index/js/retina.min.js"></script>
<script src="/index/js/modernizr.js"></script>
<script src="/index/js/main.js"></script>
<script type="text/javascript" src="/index/js/nav.js"></script>
<script type="text/javascript" src="/index/js/jquery.contact.js"></script>
</body>
</html>