body,h1,h2,h3,h4,p,dl,dt,dd{
	margin: 0 auto;
}
body {
	background: url("../../images/qqBg1.png") center 0 no-repeat fixed;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}
html{
	width: 100%;
	overflow-x: hidden;
}
body{
	font-family: "微软雅黑";
	color: #fff;
}
.section{
	margin: 0 auto;
}
.clear:after,.center:after{
	clear: both;
	content: '';
	display: block;
}



/*导航栏样式*/
.navbar-nav > li > a {
	padding-top: 12px;
	padding-bottom: 12px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400 !important;
}

.navbar-inverse .navbar-brand img {
	width: 171px;
}
.navbar-inverse .navbar-nav > li.c1 a {
	color: #F55;
}

.navbar-inverse .navbar-nav > li.c2 a {
	color: #973CB6;
}

.navbar-inverse .navbar-nav > li.c3 a {
	color: #5EC64D;
}

.navbar-inverse .navbar-nav > li.c4 a {
	color: #29AAE2;
}

.navbar-inverse .navbar-nav > li.c5 a {
	color: #FFC225;
}
/*颜色过渡*/
.navbar-inverse .navbar-nav > li.c6 a {
	border-radius: 10px;
	animation: 4s colorChange infinite;
}
@keyframes colorChange{
	0%{
		background: #5ec44d;
	}
	50%{
		background: #fe850e;
	}
	100%{
		background: #5ec44d;
	}
}

.navbar-inverse .navbar-nav > li.c1 a:hover, .navbar-inverse .navbar-nav > li.c1.active a {
	color: #fff;
	background: #F55;
	border-radius: 10px;
}

.navbar-inverse .navbar-nav > li.c2 a:hover, .navbar-inverse .navbar-nav > li.c2.active a {
	color: #fff;
	background: #973CB6;
	border-radius: 10px;
}

.navbar-inverse .navbar-nav > li.c3 a:hover, .navbar-inverse .navbar-nav > li.c3.active a {
	color: #fff;
	background: #5EC64D;
	border-radius: 10px;
}

.navbar-inverse .navbar-nav > li.c4 a:hover, .navbar-inverse .navbar-nav > li.c4.active a {
	color: #fff;
	background: #29AAE2;
	border-radius: 10px;
}

.navbar-inverse .navbar-nav > li.c5 a:hover, .navbar-inverse .navbar-nav > li.c5.active a {
	color: #fff;
	background: #FFC225;
	border-radius: 10px;
}

.navbar-inverse .navbar-nav > li.c6 a:hover, .navbar-inverse .navbar-nav > li.c6.active a {
	color: #fff;
	background: #ED47C5;
	border-radius: 10px;
}

.navbar-inverse {
	/*background: #fefef9;*/
	margin: 0 auto;
	border: none;
	background: #ffffff;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
	font-size: 16px;
	text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .active > a {
	background: #3d84e6;
	border-radius: 0;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
	text-align: left;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover {
	color: #fff !important;
	border-radius: 0;
	background: #3d84e6;
}
/*导航栏的自适应*/
@media (max-width: 768px) {
	.navbar-collapse ul {
		text-align: right;
		margin-right: 0;
	}
	.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
		font-size: 18px;
	}
	.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
		text-align: center;
	}
}
/*导航结束*/

/*主要内容开始*/
#main{
	width: 100%;
	margin: 0 auto;
}

@media (max-width: 767px) {
	#main{
		width: auto;
		margin: 0 auto;
	}
}
/*页面抖动效果*/
@keyframes shake{
	0%{
		margin: 0 0 0 0;
	}
	10%{
		margin: -30px 0 0 -30px;
	}
	20%{
		margin: -30px -30px 0 0;
	}
	30%{
		margin: 0 -30px -30px 0;
	}
	40%{
		margin: 0 0 -30px -30px;
	}
	50%{
		margin: 0 0 -30px -30px;
	}
	60%{
		margin: -10px 0 0 -10px;
	}
	70%{
		margin: -10px -10px 0 0;
	}
	80%{
		margin: 0 -10px -10px 0;
	}
	90%{
		margin: 0 0 -10px -10px;
	}
}
#banner{
	background-color: #000000;
}
/*文字进入特效*/
#banner .text{
	width: 100%;
	height: 100px;
	margin: 0 auto;
	position: relative;
	display: flex;						/*弹性布局*/
	justify-content: space-between;		/*排列的方向*/
	transition: 0.3s all ease-out;
	opacity: 0;
}
#banner .text div{
	width: 400px;
	height: 100px;
}
#banner .text div:nth-of-type(1){
	background: url(/cooperation/images/text_left.png);
}
#banner .text div:nth-of-type(2){
	background: url(/cooperation/images/text_right.png);
}
/*立方体周围环绕字体效果的布局*/
#second .circle{
	width: 700px;
	height: 548px;
	position: relative;
	margin: 20px auto 0 auto;
	background: url(/cooperation/images/circle1.jpg);
}
#second .circle > div{
	position: absolute;
	text-align: center;
}
#second .circle p{
	font-size: 14px;
	line-height: 20px;
}
#second .circle strong{
	font-size: 16px;
	font-weight: normal;
}
#second .circle > div:nth-of-type(1){
	left: 290px;
	bottom: 441px;
}
#second .circle > div:nth-of-type(1) p:nth-of-type(4){
	padding-top: 15px;
}
#second .circle > div:nth-of-type(2){
	left: 474px;
	top: 169px;
	padding: 5px 10px 0 10px;
	background: url(/cooperation/images/text_leftBottom.png) no-repeat left 8px, url(/cooperation/images/text_rightTop.png) no-repeat right top;
}
#second .circle > div:nth-of-type(2) p:nth-of-type(1){
	padding-bottom: 15px;
}
#second .circle > div:nth-of-type(3){
	left: 471px;
	top: 356px;
	padding: 5px 10px 0 10px;
	background: url(/cooperation/images/text_leftTop.png) no-repeat left top, url(/cooperation/images/text_rightBottom.png) no-repeat right 10px ;
}
#second .circle > div:nth-of-type(3) p:nth-of-type(1){
	padding-bottom: 15px;
}
#second .circle > div:nth-of-type(4){
	left: 265px;
	top: 451px;
}
#second .circle > div:nth-of-type(4) p:nth-of-type(1){
	padding-bottom: 15px;
}
#second .circle > div:nth-of-type(5){
	right: 500px;
	top: 357px;
	padding-top: 8px;
	background: url(/cooperation/images/text_rightTop.png) no-repeat right top, url(/cooperation/images/text_leftBottom.png) no-repeat left 9px ;
}
#second .circle > div:nth-of-type(5) p:nth-of-type(1){
	padding-bottom: 15px;
}
#second .circle > div:nth-of-type(6){
	right: 499px;
	top: 176px;
	padding: 5px 10px 0 10px;
	background: url(/cooperation/images/text_leftTop.png) no-repeat left top, url(/cooperation/images/text_rightBottom.png) no-repeat right 10px ;
}
#second .circle > div:nth-of-type(6) p:nth-of-type(1){
	padding-bottom: 15px;
}
/*立方体效果*/
#second .number{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 286px;
	top: 218px;

	transform-style: preserve-3d;		/*把父级变成一个3d空间*/
	transform: perspective(800px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	animation: 10s boxMov linear infinite;
}
#second .number div{
	width: 100px;
	height: 100px;
	text-align: center;
	font: 60px/100px arial;
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;

	border: 3px solid #19decd;
	box-shadow: 0 0 100px #19decd;
	text-shadow: 0 0 60px #fff;
}

#second .number div:nth-of-type(1){
	transform: translateZ(50px);
}
#second .number div:nth-of-type(2){
	transform: translateZ(-50px);
}
#second .number div:nth-of-type(3){
	transform: translateY(50px) rotateX(-90deg);
}
#second .number div:nth-of-type(4){
	transform: translateY(-50px) rotateX(90deg);
}
#second .number div:nth-of-type(5){
	transform: translateX(50px) rotateY(90deg);
}
#second .number div:nth-of-type(6){
	transform: translateX(-50px) rotateY(90deg);
}

@keyframes boxMov{
	100%{
		transform: perspective(800px) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
	}
}



/*加盟优势*/
#join{
	background-color: #2babe2;
	padding-top: 50px;
}
#join .header{
	text-align: center;
}
#join .header h2{
	font-size: 36px;
	font-weight: normal;
}
#join .header .line{
	width: 103px;
	height: 4px;
	background: #fff;
	overflow: hidden;
	margin: 14px auto;
	transition: 0.5s;
	transform: scaleX(0);
}
#join .header h3{
	font-size: 22px;
	font-weight: normal;
	color: #d1d1d1;
}
/*四大亮点运动*/
#join .header{
	text-align: center;
}
#join .header h2{
	font-size: 36px;
	font-weight: normal;
}
#join .header .line{
	width: 103px;
	height: 4px;
	background: #fff;
	overflow: hidden;
	margin: 14px auto;
}
#join .header h3{
	font-size: 22px;
	font-weight: normal;
	color: #d1d1d1;
}

#join .text{
	width: 400px;
	height: 400px;
	margin: 0 auto;
	font-size: 0;
	position: relative;
}
#join .text dl{
	width: 170px;
	height: 160px;
	padding: 20px 15px 10px 15px;
	display: inline-block;
	float: left;
	transform: scale(0);
	margin-top: 10px;
	margin-left: 20px;
}
#join .text dt{
	font: 16px/48px "微软雅黑";
}
#join .text dd{
	font-size: 14px;
	line-height: 20px;
	color: #ccc;
}
#join .text dl:nth-of-type(3),#introduce dl:nth-of-type(4){
	height: 190px;
	padding-top: 20px;
}
/*文字区域的运动*/
#join .text dl:nth-of-type(1){
	transition: 0.3s;
}
#join .text dl:nth-of-type(2){
	transition: 0.3s 0.3s;
}
#join .text dl:nth-of-type(3){
	transition: 0.3s 0.6s;
}
#join .text dl:nth-of-type(4){
	transition: 0.3s 0.9s;
}

#join .xLine{
	width: 400px;
	height: 25px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -13px;
	background: url(/cooperation/images/xLine.png);
	transform: scale(0);
	transition: 0.5s;
}
#join .yLine{
	width: 25px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -13px;
	background: url(/cooperation/images/yLine.png);
	transform: scale(0);
	transition: 0.5s;
}
/*加盟合作表格*/
#joinUs {
	background: #5fc64e;
	padding-top: 50px;
}

#joinUs header{
	text-align: center;
}
#joinUs header h2{
	font-size: 36px;
	font-weight: normal;
}
#joinUs header .line{
	width: 103px;
	height: 4px;
	background: #fff;
	overflow: hidden;
	margin: 14px auto;
}
#joinUs header h3{
	font-size: 22px;
	font-weight: normal;
	color: #d1d1d1;
}

#joinUs #data .input-text{
	height:48px;
	width:100%;
	margin-left: 1%;
	border-radius: 5px;
	color: #000000;
	text-indent: 2em;
}
#joinUs #data .row{

	width: 100%;
	/*border: 1px #d8dadc solid;*/
}
#joinUs #data .row div{
	width: 40%;
	margin-top: 20px;
	margin-left: 7%;
	display: inline-block;
}
#joinUs #data .submit{
	padding-top: 20px;
	width: 100%;
	height: 120px;
	text-align: center;
}
@media screen  and (max-width: 620px ){
	#joinUs #data .row div{
		display: block;
		width: 80%;
		margin-left: 15%;
	}
}

